# Archivos temporales de Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
env/

# Configuración de editores
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db
build/
dist/
*.spec
__pycache__/
venv/